html, body, .container-fluid, .content-row {
    height: 100%;
}

.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f2d6d6;
    cursor: grab;
}

.card {
    background-color: #aab2ba;
}